@import url(https://fonts.googleapis.com/css?family=Barlow:regular,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.facilities__item::before,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #fff;
  font-size: 10px;
  margin-left: 25px;
}

._icon-facebook:before {
  content: "\e901";
  color: #fff;
}

._icon-instagram:before {
  content: "\e902";
  color: #fff;
}

._icon-ok:before {
  content: "\e903";
  color: #fff;
}

._icon-twitter:before {
  content: "\e904";
  color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Barlow";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Barlow";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}

.subtitle {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
}

.text {
  font-size: 24px;
  line-height: 1.25;
  color: #FFFFFF;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E11B19;
  border-radius: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: #FFFFFF;
  color: #E11B19;
  outline: 1px solid #E11B19;
}

.header {
  padding: 30px 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.footer {
  padding: 40px 0px;
  background: #14171A;
  position: relative;
  z-index: 2;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__item {
  font-size: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.social__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.no-webp .page__main-block{
  background: -o-radial-gradient(69.44% -79.86%, 837.78% 378.29%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%), url("../img/main-block/bg.jpg"); }

.no-webp .page__main-block{
  background: radial-gradient(837.78% 378.29% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%), url("../img/main-block/bg.jpg"); }

.page__main-block {
  /* background: url('../img/main-block/bg.jpg')  100% / cover; */
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

@supports (padding-top: clamp( 6.25rem , 4.2256097561rem  +  10.1219512195vw , 11.4375rem )) {
  .page__main-block {
    padding-top: clamp( 6.25rem , 4.2256097561rem  +  10.1219512195vw , 11.4375rem );
  }
}

@supports not (padding-top: clamp( 6.25rem , 4.2256097561rem  +  10.1219512195vw , 11.4375rem )) {
  .page__main-block {
    padding-top: calc(6.25rem + 5.1875 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 3.75rem , 0.75rem  +  15vw , 11.4375rem )) {
  .page__main-block {
    padding-bottom: clamp( 3.75rem , 0.75rem  +  15vw , 11.4375rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 0.75rem  +  15vw , 11.4375rem )) {
  .page__main-block {
    padding-bottom: calc(3.75rem + 7.6875 * (100vw - 20rem) / 51.25);
  }
}

.main-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 746px;
}

@supports (margin-bottom: clamp( 0.625rem , 1.493902439rem  +  -1.2195121951vw , 1.25rem )) {
  .body-main-block__titles {
    margin-bottom: clamp( 0.625rem , 1.493902439rem  +  -1.2195121951vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 1.493902439rem  +  -1.2195121951vw , 1.25rem )) {
  .body-main-block__titles {
    margin-bottom: calc(1.25rem + -0.625 * (100vw - 20rem) / 51.25);
  }
}

.body-main-block__subtitle {
  font-size: 18px;
  line-height: 1.11;
}

.body-main-block__title {
  font-weight: 700;
}

.body-main-block__title_big {
  /* font-size: 64px; */
}

@supports (font-size: clamp( 3.25rem , 2.9573170732rem  +  1.4634146341vw , 4rem )) {
  .body-main-block__title_big {
    font-size: clamp( 3.25rem , 2.9573170732rem  +  1.4634146341vw , 4rem );
  }
}

@supports not (font-size: clamp( 3.25rem , 2.9573170732rem  +  1.4634146341vw , 4rem )) {
  .body-main-block__title_big {
    font-size: calc(3.25rem + 0.75 * (100vw - 20rem) / 51.25);
  }
}

.body-main-block__text {
  margin-bottom: 30px;
}

@supports (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
  .body-main-block__text {
    font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
  .body-main-block__text {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

.body-main-block__button {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

/* . {

   // ._icon-arrow

   &_icon-arrow {
   }
} */

.page__members {
  background: #191C1F;
  padding: 60px 0px;
}

.members__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.members__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}

.members__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.column-members__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-members__label {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: uppercase;
  color: #FFFFFF;
}

.column-members__sublabel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #FFFFFF;
}

.page__facilities {
  background-color: #1F2327;
}

@supports (padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__facilities {
    padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__facilities {
    padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__facilities {
    padding-bottom: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__facilities {
    padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 51.25);
  }
}

.facilities__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.facilities__image-ibg {
  padding: 0px 0px 65% 0px;
}

.facilities__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  row-gap: 25px;
  margin-left: 123px;
  max-width: 306px;
}

.facilities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}

.facilities__item {
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.facilities__item::before {
  content: "\e903";
  color: #fff;
  -webkit-transform: translate(0px, 10%);
      -ms-transform: translate(0px, 10%);
          transform: translate(0px, 10%);
}

.page__leader {
  background-color: #191C1F;
}

@supports (padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__leader {
    padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__leader {
    padding-top: calc(3.125rem + 4.375 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__leader {
    padding-bottom: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.4176829268rem  +  8.5365853659vw , 7.5rem )) {
  .page__leader {
    padding-bottom: calc(3.125rem + 4.375 * (100vw - 20rem) / 51.25);
  }
}

.leader__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.leader__image-ibg {
  padding: 0px 0px 65% 0px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.leader__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  row-gap: 25px;
  max-width: 405px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.no-webp .page__last-block{
  background: -o-radial-gradient(47.92% 0%, 570.42% 265.28%, #191C1F 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%), url("../img/last-block/bg.jpg"); }

.no-webp .page__last-block{
  background: radial-gradient(570.42% 265.28% at 47.92% 0%, #191C1F 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%), url("../img/last-block/bg.jpg"); }

.page__last-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@supports (padding-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem )) {
  .page__last-block {
    padding-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem )) {
  .page__last-block {
    padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem )) {
  .page__last-block {
    padding-bottom: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5243902439rem  +  4.8780487805vw , 5rem )) {
  .page__last-block {
    padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}

.last-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.last-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  max-width: 746px;
}

@supports (margin-bottom: clamp( 0.625rem , 1.493902439rem  +  -1.2195121951vw , 1.25rem )) {
  .body-last-block__titles {
    margin-bottom: clamp( 0.625rem , 1.493902439rem  +  -1.2195121951vw , 1.25rem );
  }
}

@supports not (margin-bottom: clamp( 0.625rem , 1.493902439rem  +  -1.2195121951vw , 1.25rem )) {
  .body-last-block__titles {
    margin-bottom: calc(1.25rem + -0.625 * (100vw - 20rem) / 51.25);
  }
}

@supports (font-size: clamp( 3.25rem , 2.9573170732rem  +  1.4634146341vw , 4rem )) {
  .body-last-block__titles_big {
    font-size: clamp( 3.25rem , 2.9573170732rem  +  1.4634146341vw , 4rem );
  }
}

@supports not (font-size: clamp( 3.25rem , 2.9573170732rem  +  1.4634146341vw , 4rem )) {
  .body-last-block__titles_big {
    font-size: calc(3.25rem + 0.75 * (100vw - 20rem) / 51.25);
  }
}

.body-last-block__subtitle {
  text-align: center;
  font-size: 18px;
  line-height: 1.11;
}

.body-last-block__title {
  text-align: center;
  font-weight: 700;
}

.body-last-block__text {
  text-align: center;
  margin-bottom: 30px;
}

@supports (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
  .body-last-block__text {
    font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1524390244rem  +  0.487804878vw , 1.5rem )) {
  .body-last-block__text {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

.body-last-block__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 991.98px) {
  .facilities__content {
    margin-left: 50px;
  }
}

@media (max-width: 927.98px) {
  .facilities__container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 40px;
  }

  .facilities__image-ibg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .facilities__content {
    margin-left: 0px;
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .facilities__list {
    max-width: 100%;
    text-align: center;
  }

  .leader__container {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    row-gap: 40px;
  }

  .leader__content {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .body-main-block__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .body-last-block__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}

@media (max-width: 499.98px) {
  .members__row {
    gap: 50px;
    justify-items: center;
  }

  .column-members__label {
    font-size: 48px;
  }

  .column-members__sublabel {
    font-size: 32px;
  }
}

.webp .page__main-block{ background: -o-radial-gradient(69.44% -79.86%, 837.78% 378.29%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%), url(../img/main-block/bg.webp); }

.webp .page__main-block{ background: radial-gradient(837.78% 378.29% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191C1F 47.89%, rgba(31, 35, 39, 0) 100%), url(../img/main-block/bg.webp); }

.webp .page__last-block{ background: -o-radial-gradient(47.92% 0%, 570.42% 265.28%, #191C1F 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%), url(../img/last-block/bg.webp); }

.webp .page__last-block{ background: radial-gradient(570.42% 265.28% at 47.92% 0%, #191C1F 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%), url(../img/last-block/bg.webp); }